# Checkpoints
checkpoints/*/*.pth

# Data
data/MNIST

# Evaluation results
evaluation_results/*/*.pkl
evaluation_results/*/*.txt

# Logs
logs/test*

# Generated samples
samples/test*

# Configs
configs/__pycache__

# OS
.DS_Store
diffusion_model.egg-info/